
#containertab3 {
    margin: 0 auto;
    width: 100%;
}

#containertab3 input {
	height: 2.5em;
	visibility: hidden;
}

#containertab3 label {
	background: #396994;
	border-radius: 0 0 0 0;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;
	height: 2.5em;
	line-height: 2.5em;
	margin-right: 0em;
	padding: 0 1.5em;
	text-align: center;
}

#containertab3 input:hover + label {
	background:  #1E5086;
	color: #FFFFFF;
}

#containertab3 input:checked + label {
	background: #1E5086;
	color: #FFFFFF; /* text colour */
	position: relative;
	z-index: 6;
	/*
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	-ms-transition: .1s;
	*/
}

#contenttab3 {
	
	border-radius: 0 .25em .25em .25em;
	min-height: 20em;
	position: relative;
	width: 100%;
	z-index: 5;
}

#contenttab3 div {
	opacity: 0;
	padding-left: 1.5em;
	position: absolute;
	z-index: -100;
	/*
	transition: all linear 0.1s;
	*/
}

#content-1tab3 p {
	clear: both;
	margin-bottom: 1em;
}
#content-1tab3 p.left img {
	float: left;
	margin-right: 1em;
}
#content-1tab3 p.last {
	margin-bottom: 0;
}

#content-2tab3 p,
#content-2tab3 ul {
        margin-bottom: 1em;
}
#content-2tab3 ul {
        margin-left: 2em;
}


#content-3tab3 p,
#content-3tab3 ul {
        margin-bottom: 1em;
}
#content-3tab3 ul {
        margin-left: 2em;
}


#content-4tab3 p,
#content-4tab3 ul {
        margin-bottom: 1em;
}
#content-4tab3 ul {
        margin-left: 2em;
}


#content-5tab3 p,
#content-5tab3 ul {
        margin-bottom: 1em;
}
#content-5tab3 ul {
        margin-left: 2em;
}


#content-6tab3 p,
#content-6tab3 ul {
	margin-bottom: 1em;
}
#content-6tab3 ul {
	margin-left: 2em;
}

input#tab3-1:checked ~ #contenttab3 #content-1tab3,
input#tab3-2:checked ~ #contenttab3 #content-2tab3,
input#tab3-3:checked ~ #contenttab3 #content-3tab3,
input#tab3-4:checked ~ #contenttab3 #content-4tab3,
input#tab3-5:checked ~ #contenttab3 #content-5tab3,
input#tab3-6:checked ~ #contenttab3 #content-6tab3 {
    opacity: 1;
    z-index: 100;
}

input.visible {
  visibility: visible !important;
}
